.demo-card {
  margin: 24px;
  width: 250px;
}

.mdc-card__media{
  background-image: url("http://fillmurray.com/425/425");
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  width: 250px;
}
