.card-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user-buttons{
  display: flex;
}

#logo{
  height: 150px;
  width: 150px;
}

#custom-loader-container{
  position: absolute;
  top: 40%;
  left: 45%;
}

#custom-loader{
}

.st-noTags{
font-family: 'Oswald', sans-serif;
width: 63%;
}
